{% extends "_base.html" %}
{% block main_content %}

<h3>New form</h3>


{% from "_formhelpers.html" import render_field %}
<form id="rcads_form",  method="POST", action="/rcads">
      {{ render_field(form.age) }}
      {% for q in form.qs %}
      <dt>{{ q.label }}</dt>
      <dd>
        <dt>{{q.score.label}}</dt>
          <dd>{{ q.text()|safe }} {{ q.score()|safe }}
            {% if q.text.errors %}
            <ul class=errors>
            {% for error in q.text.errors %}
              <li>{{ error }}</li>
            {% endfor %}
            </ul>
          {% endif %}
          {% if q.score.errors %}
            <ul class=errors>
            {% for error in q.score.errors %}
              <li>{{ error }}</li>
            {% endfor %}
            </ul>
          {% endif %}      </dd>
      {% endfor %}
<input type="submit" value="Genereate Table">
</form>

{% endblock %}